<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/new" method="POST">
      <p>Url Original:<input type="text" name="url"/></p>
      <input type="submit" value="Executar" />
    </form>
  </body>
</html>